@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

@layer base {
  .code {
    @apply font-code;
  }
}

@font-face {
  font-family: 'Mono';
  src: url('/fonts/mono.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.font-mono{
  font-family: 'Mono';
}

body{
  background-color: rgb(241 245 249);
}

:is(.dark body) {
  background-color: #0f172a;
}

.scroller {
  scrollbar-width: none;
}
::-webkit-scrollbar {
  display: none;
  
}



.bg-grid{
  background-image: url('/bg-grid.svg');
}
.bg-hero{
  background-image: url('/ccc.svg');
}
:is(.dark .bg-grid){
  background-image: url('/bg-grid-dark.svg');
}

.bg-home {
  /* background-image: linear-gradient(to right bottom, #080b0e, #07101a, #051423, #03172e, #001a38, #001a38, #001a38, #001a38, #03172d, #051423, #061019, #080a0c); */
  background-image: linear-gradient(to right bottom, #d8e8f2, #c9e1f0, #badaed, #abd2eb, #9ccbe9, #9fc9e9, #a2c7e8, #a5c5e7, #b8c9e6, #c7cde5, #d3d3e3, #dbd9e1);
}

:is(.dark .bg-home) {
  /* background-image: linear-gradient(to right bottom, #a4c4dd, #b4cce4, #c3d4ea, #d2dcef, #dfe5f5, #e1e7f7, #e3eaf8, #e5ecfa, #dde8f8, #d4e5f6, #cbe2f4, #c1dff1); */
  background-image: linear-gradient(to right bottom, #080b0e, #07101a, #051423, #03172e, #001a38, #001a38, #001a38, #001a38, #03172d, #051423, #061019, #080a0c);
}

.height{
  min-height: 100%;
}



.code {
  /* font-family: 'Ubuntu Mono'; */
  font-weight: 100;
  background-color: rgb(178, 190, 195);
  color: black;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 0.375rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  display: inline-block;
}
:is(.dark .code){
  background-color: rgb(25 60 80);
  color: inherit;
}


.accordion-details {
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.3s ease; /* Adjust duration and timing function as needed */
}

.accordion-details.active {
	max-height: 1000px; /* Adjust to a reasonable max height */
}

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-container {
  display: flex;
  transition: transform 0.5s ease;
}

.slide {
  flex: 0 0 auto;
  width: 100%;
}

.slide img {
  width: 100%;
  height: auto;
}

.slide-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.slide-content h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.slide-content p {
  font-size: 18px;
}


.keyword {
    color: blue;
}

.string {
    color: green;
}

.comment {
    color: gray;
    font-style: italic;
}


/* .loader {
  width: 120px;
  height: 20px;
  -webkit-mask: linear-gradient(90deg, #000 70%, #0000 0) left / 20% 100%;
  background: linear-gradient(#000 0 0) left -25% top 0 / 20% 100% no-repeat #ddd;
  animation: l7 1s infinite steps(6);
}

@keyframes l7 {
  100% { 
    background-position: right -25% top 0;
  }
} */


/* .loader {
  width: 45px;
  aspect-ratio: 1;
  --c: conic-gradient(from -90deg,#000 90deg,#0000 0);
  background: var(--c), var(--c);
  background-size: 40% 40%;
  animation: l20 1.5s infinite;
}
@keyframes l20 {
 0%,
 20%  {background-position: 0 0           ,0            calc(100%/3)}
 33%  {background-position: 0 0           ,calc(100%/3) calc(100%/3)}
 66%  {background-position: 0 calc(100%/3),calc(100%/3) 0  }
 80%,
 100% {background-position: 0 calc(100%/3),0            0  }
} */

/* HTML: <div class="loader"></div> */
/* .loader {    
  --r1: 154%;
  --r2: 68.5%;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 50%; 
  background:
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    radial-gradient(var(--r1) var(--r2) at bottom,#269af2 79.5%,#0000 80%),
    radial-gradient(var(--r1) var(--r2) at top   ,#0000 79.5%,#269af2 80%),
    #ccc;
  background-size: 50.5% 220%;
  background-position: -100% 0%,0% 0%,100% 0%;
  background-repeat:no-repeat;
  animation: l9 5s infinite linear;
}
@keyframes l9 {
    33%  {background-position:    0% 33% ,100% 33% ,200% 33% }
    66%  {background-position: -100%  66%,0%   66% ,100% 66% }
    100% {background-position:    0% 100%,100% 100%,200% 100%}
} */

/* HTML: <div class="loader"></div> */
.loader {
  width: 60px;
  height: 25px;
  border: 2px solid;
  box-sizing: border-box;
  border-radius: 50%;
  display: grid;
  animation: l2 2s infinite linear;
}
.loader:before,
.loader:after {
  content: "";
  grid-area: 1/1;
  border: inherit;
  border-radius: 50%;
  animation: inherit;
  animation-duration: 3s;
}
.loader:after {
  --s:-1;
}
@keyframes l2 {
   100% {transform:rotate(calc(var(--s,1)*1turn))}
}

.background {
  --s: 30px; /* control the size*/
  --c1: #ffffff;
  --c2: #355c7d;
  
  --_g: 
     var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
     var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
  background:
    radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
    radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
    var(--c1);
  background-size: var(--s) var(--s);
}


.gradient-background {
  background: linear-gradient(115deg,#312d31,#72b1c7,#a9d834,#301024,#c9a61a);
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite;
  background-clip: text;
  color: transparent;
}

:is(.dark .gradient-background){
  background: linear-gradient(115deg,#aa69a1,#72b1c7,#a9d834,#b8167a,#a48b2a);
  background-size: 300% 300%;
  animation: gradient-animation 5s ease infinite;
  background-clip: text;
  color: transparent;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}