@tailwind base;
@tailwind components;
@tailwind utilities;


/* .ui-input-field:placeholder-shown ~ .ui-inside-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}


.ui-input-field::placeholder {
  color: transparent;
}
.ui-input-field:placeholder-shown ~ .ui-inside-label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}

.ui-inside-label {
  position: absolute;
  top: 0;
  display: block;
}

.ui-input-field:focus ~ .ui-inside-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: #11998e;
  font-weight: 700;
} */